/*--------------------------------------------------------------
22.0 Gallery
--------------------------------------------------------------*/
html {
  min-height: 100%;
} /* to by gradient byl na calym */
/* width */
/* ::-webkit-scrollbar {
  width: 50px;
} */

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
/* body {
  background: rgb(20,23,54);
background: linear-gradient(41deg, rgba(20,23,54,1) 2%, rgba(255,0,52,1) 100%);
  font-family: Heveltica, sans-serif;
  color: #fff;
} */
.swapgal {
  display: flex;
  overflow-x: auto;
  width: inherit;
}

.pan {
  min-width: 1280px;
  max-width: none;
  flex-shrink: 0;
  min-height: 250px;
  overflow: hidden;
  position: fixed;
  opacity: 1;
  margin: 25px 10px 25px 35px;
  border: 7px solid #fff;
  opacity: 1;
  z-index: -1;
  transition: transform 0.15s ease;
  /* filter: blur(2px); */
  object-fit: none;
}
.pan:hover {
  opacity: 1;
  height: 300px;
  /* display: block;*/
  /* position: absolute; */
  transform: scale(1.15);
  filter: drop-shadow(0 15px 15px #000);
}
.active {
  scroll-snap-type: unset;
}
